body {
  background-image: url("https://images.unsplash.com/photo-1510547721131-2118691e1930?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d0b1816d3fe1409ee344959dc01e64d8&auto=format&fit=crop&w=2250&q=80")
  background-repeat: none;
  background-size: 100%;
}